{% extends 'all-news/base.html' %}

{% block content %}
{{block.super}}
  <div class="container">
    <!--looping through news-->
     {% for news_item in news %} 
      <div class="row">
        <hr>
        <!--display artricle images-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
        </div>
        </hr>

        <!--display news article-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"><a href="{% url 'article' news_item.id %}">{{news_item.title}}</a></h2>
          <p>{{news_item.post}}</p>
          <br>
          <small><strong>Posted at: {{news_item.pub_date}}</strong></small>
          {% for tag in news_item.tags.all %}
            <button type="button" name="button">{{tag.name}}</button>
          {% endfor %}
       </div>
      </div>
   {% endfor %}

  </div>
{% endblock %}